config.py
__pycache__/
output/*
xml/*
witnesses/01/*
witnesses/02/*
witnesses/03/*
witnesses/04/*
witnesses/05/*
witnesses/06/*
witnesses/07/*
witnesses/08/*
witnesses/09/*
witnesses/10/*
witnesses/11/*
witnesses/12/*
witnesses/13/*
witnesses/14/*
witnesses/15/*
witnesses/16/*
witnesses/17/*
witnesses/18/*
witnesses/19/*
witnesses/20/*